// contain
// input form
// form wrap

.input {
	height: 37px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 100%;
	min-width: 50px;
	padding: 0 10px;
	font-size: 14px;
	font-family: inherit;
	color: #222;
}

.form-wrap {
	padding-bottom: 15px;
}

